@mixin appearance ($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  appearance: $value;
}

@mixin make-constrained () {
  $offset: 20;

  width: '#{100 + $offset}"%"';
  margin-left: -'#{$offset / 2}"%"';
}
