
// Global css rules
// ----------------------------------------------------------------------------

body {
  @include font-smoothing();
}

@media screen and (min-width: $screen-sm-min) {
  body {
    margin-top: 0;
  }
}

a {
  @include transition(all .2s ease-in-out);

  &:hover {
    opacity: .7;
  }
}


// Block titles
// ----------------------------------------------------------------------------

.tl-container-h2-more {
  @include block-title();
  @include block-shadow(large);
}

.block_img img {
  @include img-responsive();
}


// Grid overrides
// ----------------------------------------------------------------------------

.tl-col-6-6 {
  @include make-row();

  h2 {
    padding: 0 $grid-gutter-width/2;
  }

  .block_text,
  .block_img {
    @include make-xs-column(12);
    @include make-md-column(6);
  }

  .block_text {
    font-weight: 300;
    font-size: 19px;
  }

  .block_img {
    text-align: center;

    img {
      margin: auto;
    }
  }
}

.tl-col-12 {
  @include make-row();

  h2 {
    @include make-xs-column(12);
  }

  .block_text {
    @include make-xs-column(12);
    font-weight: 300;
    font-size: 19px;
  }
}


.tl-col-3-9 {
  @include make-row();

  h2 {
    padding: 0 $grid-gutter-width/2;
  }

  .block_text {
    @include make-xs-column(12);
    @include make-md-column(9);
    @include make-md-column-push(3);
  }

  .block_img {
    @include make-xs-column(12);
    @include make-md-column(3);
    @include make-md-column-pull(9);
  }

  .block_text {
    font-weight: 300;
    font-size: 19px;
  }

  .block_img {
    text-align: center;
  }
}


// Modifiers
// ----------------------------------------------------------------------------

.tl-col-6-6--reverse {
  .block_text {
    @include make-md-column-push(6);
  }

  .block_img {
    @include make-md-column-pull(6);
  }
}
