// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";












/* Font (Montserrat) */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
* {
  font-family: 'Roboto', sans-serif;
}




/*jQuery UI style overrides.*/

@import "jquery-ui/autocomplete";

body {

  background-image: url('http://localhost/sharewithme/web/sites/default/files/image/bg.jpg') !important;
  background-size: cover;
}



.navbar-default {
  font-family: $headings-font-family;
}


/* Homepage ============================================================= */

.page-header {
  margin-top: 0;
}


/* ================== Header Top */

.menu a {
  text-transform: uppercase;
  font-size: 11px !important;
  color: #333333 !important;
}

.nav>li>a:hover {
  background-color: transparent !important;
  color: #000000 !important;
}

.navbar-left img {
  width: 27%;
  ;
}

a.logo.navbar-btn.pull-left {
  position: relative;
  top: -109px;
}


/* ================== Content */


/* == Title Home h1 */

#title-home-block h1 {
  font-size: 55px !important;
  font-weight: 800;
  text-align: center;
  color: white !important;
 
}

#title-home-block h1>span {
  color: #01bbd4;
}

.js-quickedit-page-title,
.page-header {
  display: none;
}






/* == Login */

.user-login-form {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  background-color: white;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.35);
  border-top: 3px solid #01bbd4;
}




/* == Media Quieries */
