
// Default variables
@import "default-variables";


// Bootstrap Framework
@import '../../bootstrap/stylesheets/bootstrap';


// Import mixins
@import "mixins/mixins";


// Bootstrap components
@import "buttons";


// Import fonts
@import "fonts";


// jQuery UI style overrides
@import "jquery-ui/autocomplete";


// Global css
@import "globals";


// Forms
// ----------------------------------------------------------------------------

@import "forms";


// Custom components
// ----------------------------------------------------------------------------

@import "custom-component/header";
@import "custom-component/navigation";
@import "custom-component/login";


// Pages
// ----------------------------------------------------------------------------

@import "pages/homepage";


body:before {
  position: absolute;
  top: 0;
  left: 0;
  color: grey;
  font-size: 12px;
  content: 'xs';
  @media screen and (min-width: $screen-sm-min) {content: 'sm';}
  @media screen and (min-width: $screen-md-min) {content: 'md';}
  @media screen and (min-width: $screen-lg-min) {content: 'lg';}
}
