
// Login component
// ----------------------------------------------------------------------------

.block-user-login-block {
  @include box-shadow(0 0 20px 11px rgba(0, 0, 0, 0.08));
  padding: 20px 40px 20px;

  @media screen and (min-width: $screen-md-min) {
    padding: 20px 70px 20px;
  }

  h2 {
    display: inline-block;
    padding: 0 30px;
    font-weight: 600;
    font-size: 44px;
    margin: 0 0 20px;
    position: relative;

    &:before {
      @include transform(translateY(-50%));
      content: '';
      background-color: rgba($c-blue, .2);
      position: absolute;
      margin-left: 5%;
      left: 0;
      top: 50%;
      z-index: -1;
      width: 90%;
      height: 17px;
    }

    @media screen and (min-width: $screen-md-min) {
      font-size: 64px;
      margin: 0 0 60px;
    }
  }
}
