{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
  'row',
  'homepage',
  'homepage--anonymous',
  'grid-align-middle',
]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% if content.left %}
      <div class="col-xs-12 col-md-8">
        {{ content.left }}
      </div>
    {% endif %}

    {% if content.right %}
      <div class="col-xs-12 col-md-4">
        {{ content.right }}
      </div>
    {% endif %}
  </div>
{% endif %}
