
.group-user-name {
  text-align: center;
  font-weight: 600;
  padding-bottom: 12px;
}

.group-avatar {
  padding: 0 16px;
}

.group-info {
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  padding-top: 24px;
}
