
// Homepage css
// ----------------------------------------------------------------------------

.homepage-anonymous-content {
  color: $c-gray-dark;
  font-weight: 600;
  font-size: 56px;
  line-height: 62px;

  a {
    border-bottom: 4px solid $c-gray-dark;
  }
}
