<div class="responsive-menu hidden-md hidden-lg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="responsive-menu__wrapper">
                    <div class="responsive-menu__header">
                        <div class="responsive-menu__language">
                            {{ languageswitcher }}
                        </div>
                        <div class="responsive-menu__search">
                            {{ searchform }}
                        </div>
                    </div>
                    <div class="responsive-menu__nav clearfix">
                        {{ mainnavigation }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
