/**
 * Navigation.
 */
.navbar-default {
  background: url(../img/topmenu-bg.jpg) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  margin-bottom: 0;
}
.navbar-default .navbar-nav > li > a {
  color: black;
  font-size: larger;
}
.navbar-default .navbar-nav li > a:hover,
.navbar-default .navbar-nav li > a:focus,
.navbar-default .navbar-nav .open > a,
.navbar-default .navbar-nav .open > a:hover,
.navbar-default .navbar-nav .open > a:focus,
.navbar-default .navbar-nav .active > a:hover,
.navbar-default .navbar-nav .active > a:focus {
  color: white;
  background-color: #B4732F;
}
.navbar-default .navbar-nav .active > a {
  color: black;
  background-color: transparent;
}
.navbar-default .navbar-nav li > .dropdown-menu {
  background-color: #D09434;
  padding: 0;
  border: 0px solid black;
  border-top: 1px solid white;
}
.navbar-default .navbar-nav li > .dropdown-menu li {
  border-bottom: 1px solid white;
}
.navbar-default .navbar-nav li > .dropdown-menu li > a {
  color: white;
  padding: 10px 15px;
}

footer nav[role="navigation"] ul.nav li {
  display: inline;
  list-style: none;
  border-right: 1px solid white;
}
footer nav[role="navigation"] ul.nav li a {
  display: inline-block;
  padding: 0px 20px;
  text-decoration: none;
  color: #fff;
  font-size: smaller;
}
footer nav[role="navigation"] ul.nav li a:hover {
  background-color: transparent;
  text-decoration: underline;
}
footer nav[role="navigation"] ul.nav li:last-child {
  border-right: 0px solid white;
}
